.grid {
    display: grid;
    width: 1200px;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
            "h h"
            "n p";

}


.Nav1 {
    grid-area: n;
    background-color: blanchedalmond;
}

